<%- include("partials/header") %>

<div class="container-fluid">
  <nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">      
      <h2><i class="fas fa-paper-plane "></i> Do-Mail</h2>
    </a>

    <form class="form-inline">
      <a class="btn btn-outline-dark" href="/logout" role="button">Log Out</a>
      
    </form>
  </nav>
</div>

  
  
  <!-- The sidebar -->
<div class="sidebar">
  <a class="btn btn-dark submit-btn" href="/compose" role="button">Compose</a>
  <a href="/mails" >Recieved</a>
  <a href="/sent" class="active">Sent</a>
  <a href="/about">About</a>
</div>

<!-- Page content -->
<div class="content">

  

    <div class="container-fluid mails-box">
        
            <% userMails.slice().reverse().forEach(function(mail){ %>
              <a href="/sent/<%=mail._id%>">
                <div class="row mails-item ">
              <div class="col-3 bold-item">
                <p>to: <%=mail.toUser%></p>
              </div>

              <div class="col-9 ">
                <p class="inline-item bold-item"> <%=mail.subject+"-"%></p>
                <p class="inline-item"> <%=mail.content.substring(0,20)+"...";%></p>
              </div>             
            </div>
              </a>
              
          <% }); %> 

          
        </div>    
      </div>
      </div>

    </div> 

<%- include("partials/footer") %>
